In [1]:
#Dependencies
from config import FBI_api_key
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import linregress
import requests
import csv
import json
import datetime

In [2]:
#load the crime data csv
file = "../Resources/NEIGHBORHOOD_CRIME_STATS.csv"
crime_stats = pd.read_csv(file)
crime_stats.head()

,neighborhoodCrimeStatisticsID,neighborhood,ucrDescription,number,reportMonth,reportYear
0,1,** NOT ASSIGNED **,Aggravated Assault,2.0,8,2017
1,2,** NOT ASSIGNED **,Arson,0.0,8,2017
2,3,** NOT ASSIGNED **,Auto Theft,3.0,8,2017
3,4,** NOT ASSIGNED **,Burglary,1.0,8,2017
4,5,** NOT ASSIGNED **,Homicide,0.0,8,2017

In [3]:
#load the weather data csv
file = "../Resources/weather_data_long.csv"
weather_data = pd.read_csv(file)
weather_data.head()

,loc_id,date,maxtempC,maxtempF,mintempC,mintempF,avgtempC,avgtempF,totalprecipMM,totalprecipIn,...,WindGustKmph,FeelsLikeC,FeelsLikeF,uvIndex,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,1,2008-07-01,29,83,16,61,23,73,0.0,0.00,...,21,23,74,6,05:31 AM,09:03 PM,03:25 AM,08:17 PM,Waning Gibbous,89.7
1,1,2008-07-02,25,76,18,65,22,72,1.2,0.05,...,24,23,74,6,05:31 AM,09:03 PM,04:31 AM,09:15 PM,Waning Gibbous,82.8
2,1,2008-07-03,25,77,13,55,19,65,0.0,0.00,...,9,18,65,5,05:32 AM,09:03 PM,05:49 AM,09:58 PM,Waning Gibbous,75.9
3,1,2008-07-04,27,80,15,60,21,70,0.0,0.00,...,11,21,70,6,05:33 AM,09:03 PM,07:12 AM,10:30 PM,Last Quarter,69.0
4,1,2008-07-05,28,82,18,64,22,72,0.0,0.00,...,25,23,74,6,05:33 AM,09:02 PM,08:33 AM,10:56 PM,Last Quarter,62.1

In [4]:

# weather_data.dtypes

In [5]:
weather_df = weather_data[['date', 'maxtempF', 'mintempF', 'totalprecipIn', 'windspeedMiles', 'humidity', 'FeelsLikeF']]
weather_df.head()

,date,maxtempF,mintempF,totalprecipIn,windspeedMiles,humidity,FeelsLikeF
0,2008-07-01,83,61,0.00,8,62,74
1,2008-07-02,76,65,0.05,10,62,74
2,2008-07-03,77,55,0.00,4,67,65
3,2008-07-04,80,60,0.00,4,66,70
4,2008-07-05,82,64,0.00,10,65,74

In [6]:
url = "https://api.usa.gov/crime/fbi/sapi/api/data/nibrs/aggravated-assault/offender/states/mn/sex?API_KEY=" +FBI_api_key
response = requests.get(url)
gender_data = response.json()
print(json.dumps(gender_data, indent=4, sort_keys=True))

{
    "pagination": {
        "count": 4,
        "page": 0,
        "pages": 1,
        "per_page": 0
    },
    "results": [
        {
            "data_year": 2016,
            "female_count": 5,
            "male_count": 18,
            "unknown": 0
        },
        {
            "data_year": 2017,
            "female_count": 26,
            "male_count": 96,
            "unknown": 1
        },
        {
            "data_year": 2018,
            "female_count": 101,
            "male_count": 369,
            "unknown": 1
        },
        {
            "data_year": 2019,
            "female_count": 696,
            "male_count": 2807,
            "unknown": 239
        }
    ]
}

In [ ]:
#FBI stats

In [49]:
crime_stats.groupby('ucrDescription').count()
crime_desc = ['Aggravated Assault', 'Arson', 'Auto Theft', 'Burglary', 'Homicide', 'Larceny', 'Rape', 'Robbery']

,neighborhoodCrimeStatisticsID,neighborhood,number,reportMonth,reportYear
ucrDescription,,,,,
Aggravated Assault,3872,3872,3500,3872,3872
Arson,3872,3872,3132,3872,3872
Auto Theft,3872,3872,3623,3872,3872
Burglary,3872,3872,3722,3872,3872
Homicide,3872,3872,3104,3872,3872
Larceny,3872,3872,3837,3872,3872
Rape,3872,3872,3308,3872,3872
Robbery,3872,3872,3460,3872,3872

In [ ]:
crime_stats.groupby('reportYear').count()